.App {
  text-align: center;
}

.nav-item{
 text-decoration:none;
padding:5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

